*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;

    --color-bg:#e5fffb;
    --color-bd-yellow:#fcb900;
    --color-bd-blue: #020381
    
}
html{
    font-size: 62.5%;
    font-family: "Source Sans Pro",Sans-serif;
}

h2{
    text-transform: uppercase;
}

#garantia{
    margin: 3rem 10rem;
    padding: 1rem;
    border: 1rem solid var(--color-bd-blue);
    border-radius: 5rem;
    background-color: var(--color-bg);
    width: 69%;
    margin: 3rem auto;
    margin-bottom: 90px;

}

.bd-yellow{
    padding: 2rem;
    border: 0.8rem solid var(--color-bd-yellow);
    border-radius: 4rem;
    border-style: dashed;
}

.bd-yellow >h4{
    background-color: var(--color-bd-blue);
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    color: #fff;
}


.conteudo-garantia{
    text-align: center;
    margin-top: -10rem;
    
}

.conteudo-garantia >h2, .conteudo-garantia > img{
    display: inline;  
}

.conteudo-garantia > h2{
    color: var(--color-bd-blue);
    font-size: 10rem;
    font-weight: 800;
    line-height:10rem;
    text-transform: uppercase;
}




#bonus,#duvidas{
    background-image: url("../image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem ;
}

.bonus-conteudo{
    text-align: center;
    color: #fff;
}

.bonus-conteudo > h4{
    font-size: 5rem;
}

.bonus-conteudo > h4 > span{
    color: var(--color-bd-yellow);
}

.bonus-conteudo > p{
    font-size: 3.5rem;
}

.bonus-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:3rem;
    margin-top: 3rem;
}

.bonus-card{
    background-color:#007796ed;
    padding: 4rem 2rem;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    max-width: 50rem;
    min-height: 63rem;
}


.bonus-card> img{
   border-radius: 1rem;
    
}


.bonus-card > h5{
    font-size: 2.8rem;
    margin: 1rem 0rem;
    color: #00ffff;
}

.bonus-card > h5 > span:first-child{
    color: #fff;
}

.bonus-card > h5 > span:last-child{
    color: var(--color-bd-yellow);
}


.bonus-card > p{
    font-size: 1.8rem;
    line-height: 3rem;
}

 button{
    background-color: #00b092;
    padding: 2rem 4rem;
    border: none;
    display: block;
    margin: 03rem auto;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}


.bonus-frete{
    background-color: #00b092;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.bonus-frete > img{
    width: 10rem;
}

.bonus-frete > h3 {
    font-size: 3rem;
    font-weight: 800;
    color: #2d2b2b;
}


.depoimentos{
    padding: 9rem;
    max-width: 110rem;
    text-align: center;
    margin: 0 auto;
}

.depoimentos > h2{
    font-size: 4rem;
    font-weight: 900;
    line-height: 4.5rem;
}

.depoimentos > h4{
    margin: 2rem 0rem;
    font-size: 2.5rem;
}


.depoimentos-comentarios{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
   
}


.comentario{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 6rem 0rem;
    
}

.comentario:not(:last-of-type){
    border-bottom: 0.1rem solid #e1e1e1;

}

.comentario > img{
    width: 8rem;
    border-radius: 50%;
    border: 0.4rem solid rgb(11, 11, 151);
}

.comentario > div> h4{
    font-size: 3rem;
    font-weight: 600;
}
.comentario> div> p , .comentario > div> span{
    font-size: 2.5rem;
    margin:2rem  0rem;
}



#duvidas{
    display: flex;
    flex-flow: column ;
   padding: 9rem 2rem;
   align-items: center;
    
}


#duvidas > h2{

    font-size: 4rem;
    color: #fff;
}


.conteudo-duvidas{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
   
}

.faq{
    background-color: red;
    min-width: 50%;
    max-width: 50%;
}

.quest{
    background-color: #ffffff;
    padding: 1.3rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    
    
    
}






.resp{
    font-size: 2rem;
    line-height: 3rem;
    margin: 2rem 0rem;
    color: #fff;
    text-align: justify;
   
    

}

